<div class="container">

<div class = "left-pic">
  <img src = "http://www.foxtwoodkennels.co.uk/images/kennels-thumb.jpg">
</div>

<div class = "info">
  <ul>
    <li>Name: <%= @dog.name %></li><br>
    <li>Breed: <%= @dog.breed %></li><br>
    <li>Age: <%= @dog.age %></li></br>
    <li>Temperament: <%= @dog.temperament %></li><br>
  </ul>
</div>

<div class = "info">

  <ul>
    <li> Walk Time: <br><%= @walk.day %></li><br>
    <li> <%= @walk.time_format%> </li>
      <br>

  <form action="/users/<%=current_user.id %>/walks" method="get">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
    <%= tag(:input, :type => "hidden", :name => :dog_id, :value => @dog.id) %>
      <input type="submit" value="Reserve Walk">


<% else %>
    "Reserved"
  <% end %>
</ul>
</div>

</div>
