<div class="container">

<div class = "left-pic">
  <img src = "http://www.foxtwoodkennels.co.uk/images/kennels-thumb.jpg">
</div>

<div class = "info">
  <ul>
    <li>Name: <%= @dog.name %></li><br>
    <li>Breed: <%= @dog.breed %></li><br>
    <li>Age: <%= @dog.age %></li></br>
    <li>Temperament: <%= @dog.temperament %></li><br>
  </ul>
</div>

<div class = "info">
  <ul>
    Walk Times: <br>
      <% @walks.each do |walk| %>
          <li><%= walk.day %> at <%= walk.time %>
            <% if !walk.reserved? %>
              <%= render "reserved" %>
            <% else %>
                <em>--Reserved</em>
            <% end %>
        </li>
          <% end %>

</ul>
</div>

</div>
