<div class="container2">
    <div class = "info2">
      <div class = "hide-me">
      <h1><center><%= @dog.name %></center></h1>
      <img src = "http://www.foxtwoodkennels.co.uk/images/kennels-thumb.jpg">
    </div>
      <ul>
        <li>Breed: <%= @dog.breed %></li><br>
        <li>Age: <%= @dog.age %></li></br>
        <li>Temperament: <%= @dog.temperament %></li><br>
      </ul>

      <br>

      <table>
        <center><b>Walk Times</b></center>
          <% @walks.each do |walk| %>
              <tr>
                <th> Day </th>
                <th> Time </th>
                <th> Reservation </th>
              </tr>
              <tr>
                <td> <%= walk.day %></td>
                <td> <%= walk.time %></td>
                <td><%= render partial: "reserved", locals: {walk: walk, dog: @dog} %></td>
            </tr>
          <% end %>
      </table><br>
      <center>
        <% if current_user.admin %>
          <%= link_to "Add Walk", new_dog_walk_path(@dog) %>
        <% end %>
      </center>
  </div>
</div>
