<div class = "container">
  <% if current_user.admin  %>
     <h2>Welcome, <%= current_user.username %>!</h2>
    <% else %>
     <div class = "info">
       <h2><%= current_user.username %></h2>
          <% if !current_user.bio || current_user.references.empty? %>
            <%= render "form" %>
          <% else %>
             Bio:<br> <%= current_user.bio %>
             <br>
             <br>
             References:
             <br>
              <ol>
                <% current_user.references.each do |reference| %>
                      Name: <%= reference.name %><br>
                      Phone: <%= reference.phone_number %><br>
                      Email: <%= reference.email %><br>
                      <br>
                      <% end %>
              </ol>
           <%= link_to "Edit Profile", edit_user_path(current_user) %>
          <% end %>
    <% end %>
    </div>
</div>
