<div class = "container">
  <div class = "info">

          <h2><%= @user.username %></h2>

          <% if current_user.bio.nil? || current_user.references.empty? %>
          <h4 style = "color:red">Complete Your Profile:</h4>

            <%= render 'form' %>
          <% else %>
            Bio:<br> <%= current_user.bio %>
            <br>
            <br>
            References: <br>
            <ol>
              <% current_user.references.each do |reference| %>
                Name: <%= reference.name %><br>
                Phone: <%= reference.phone_number %><br>
                Email: <%= reference.email %><br>
                <br>
                <% end %>
            </ol>

            <%= link_to "Edit Profile", edit_user_path(current_user) %>
          <% end %>
    </div>
</div>
