<div class = "container">
  <% if current_user.admin && params[:id].to_i == current_user.id  %>
     <h2>Welcome, <%= current_user.username %>!</h2>
    <% elsif params[:id].to_i == current_user.id || current_user.admin %>
     <div class = "info">
       <%@walker = User.find(params[:id])%>
      <h2><%= @walker.username  %></h2>
          <% if !current_user.bio || current_user.references.empty? %>
            <%= render "form" %>
          <% else %>
             Bio:<br> <%= @walker.bio %>
             <br>
             <br>
             References:
             <br>
              <ol>
                <% @walker.references.each do |reference| %>
                      Name: <%= reference.name %><br>
                      Phone: <%= reference.phone_number %><br>
                      Email: <%= reference.email %><br>
                      <br>
                      <% end %>
              </ol>
           <%= link_to "Edit Profile", edit_user_path(current_user) %>
          <% end %>
        </div>

    <% else %>
    <h1>No Access <h1>
    <% end %>
</div>
